doctype html
html
  head
    title Overlay Card
    link(rel="stylesheet" href="/style_1.css")
    link(rel="stylesheet" href="/style.css")
  body
    header
      marquee 
              | Travel is the only thing you buy that makes you richer. Explore the world, one journey at a time!


    nav
      a(href="/") Home
      a(href="/aboutus") Our Story
      a(href="/services") Services
      a(href="/contact") Contact

        if !userId
           a(href="/register.pug") Get Started 
           a(href="/login") Sign In

        if userId
           a(href="/user/dashboard") Dashboard
           a(href="/logout") Log Out

    //- .overlay-card
    //-   h2 Choose Your Registration Type
    //-   .buttons
    //-     // Change buttons to links
    //-     a(href="/user_register" class="button-link") User
    //-     a(href="/agent_register" class="button-link") Agent

    //- script(src="/assets/js/script.js")
    //- script(src="/app.js")
